
<div class='container text-center'>
  <h1>New Cocktail</h1>
  <div class='flex-container'> 
    <%= simple_form_for @cocktail do |cocktail| %>
      <div><%= cocktail.input :name%></div>
      <div class='flex-item'><%= cocktail.input :picture %></div>
      <div><%= cocktail.input :picture_cache, as: :hidden %></div>
      <div><%= cocktail.button :submit %></div>
    <% end %>
  </div>
</div>